.accountbanner {
    text-align: center;
	padding-bottom: 10px;
	padding-top: 40px;
	background-color: #000080;
	margin-top: -20px;
    color: white;
}

.accountinfo h3{
	text-align: center;
}

.accountinfo ul{
	list-style-type: none;
	padding: 0px;
}

#profilepic{
	text-align: center;
}

#orderhistory{
	text-align: center;
}