
html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Comfortaa', cursive;
    background-color: #F5F5F5;
    /* Margin top for fixed header */
    margin-top: 52px;
    /* Margin bottom by footer height */
    margin-bottom: 5%;

}

footer {
    /*Core essentials for footer placement */
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height and padding of the footer here */
    height: 80px;
    padding-top: 20px;
    /* Misc attributes for footer */
    background-color: white;
    border-top: solid thin black;
    text-align: center;
}

.navbar-default {
    width: 100%;
    z-index: 999;
    top: 0;
    position: fixed;
    background-color: white;
    border-bottom: solid thin black;
    /* Attributes for the navbar on the top left */
}

.circle {
    border-radius: 50%;
    border: solid thin black;
    background-color: pink;
    width: 30px;
    height: 30px;
    text-align: center;
    color: white;
    padding-top: 5px;
/* Gives all of the effects to the small pink circle with the R in it*/
}

.circle a {
    color: white;
    font-weight: bold;
    text-decoration: none;
/*Makes the color white and the font bold of the pink circle on the top */
}

.btn.outline {
    background: none;
    padding: 5px 0;
}

.btn-default.outline {
    border: 1px solid #f5f5f5;
    color: #000;
}

.btn-default.outline:hover, .btn-default.outline:focus, .btn-default.outline:active, .btn-default.outline.active, .open > .dropdown-toggle.btn-default {

    border-color: #848484;
/* Givess all of the effects of when you hover over the footer icons */
}

.btn-default.outline:active, .btn-default.outline.active {
    border-color: #848484;
    color: #848484;
    box-shadow: none;
}

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #303030;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.signin{
	margin: auto;
}

main {
    padding-top: 50px;
    width: 75%;
    margin: auto;
    padding-bottom: 50px;
/* The main content section gets effected by this */
}

.banner {
    text-align: center;
	padding-bottom: 10px;
	padding-top: 40px;
	background-color: #000080;
    color: white;
}
