p,h1,h2,h3,h4,h5 {
	padding-left: 10px;
	padding-right: 10px;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0;
}

img {
    margin-bottom: -5px;
    border-style: none;
}

button {
	padding: 10px 20px;
	border: 1px solid #ccc;
	background-color: #fff;
}

button:hover {
	border-color:#000;
	box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

ul {
	list-style-type: none;
    padding: 0;
    margin: 0
}

li:hover {
	background-color: #ccc;
	padding: 15px 0px;
}

#body{
	color:#000;
	background-color: #f5f5f5;
}

#wrapper{
	max-width: 1080px;
	margin: auto;
	padding: 0 8px;
	color: #000;
    background-color: #000
}

.columnWidth{
	float: left;
	width: 100%;
	background-color: #f5f5f5;
}

@media (min-width: 600px){
	.columnWidth.mobile{
		width: 50%;
	}
}

@media (min-width: 900px){
	.columnWidth.deskT{
		width: 33.3333%;
	}
}
.articles{
	margin: 15px;
	color: #233f09;
	background-color: #ffffff;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.05);
	padding: 0.01em 16px;
}

.container:before, .container:after{
	content: "";
    display: table;
    clear: both;
}

.container.title{
	padding: 10px 0;

}

.transparent{
    opacity: 0.60;
    -webkit-backface-visibility: hidden
}

.spanFont {
	font-size: 25px;
}






