
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin top for fixed header */
    margin-top: 52px;
    /* Margin bottom by footer height */
    margin-bottom: 50px;
}
footer {
    /*Core essentials for footer placement */
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height and padding of the footer here */
    height: 80px;
    padding-top: 20px;
    /* Misc attributes for footer */
    background-color: white;
    border-top: solid thin black;
    text-align: center;
}

.navbar-default {
    width: 100%;
    z-index: 999;
    top: 0;
    position: fixed;
    background-color: white;
    border-bottom: solid thin black;
}

.circle {
    border-radius: 50%;
    border: solid thin black;
    background-color: pink;
    width: 30px;
    height: 30px;
    text-align: center;
    color: white;
    padding-top: 5px;
}

.circle a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}
