
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin top for fixed header */
    margin-top: 225px;
    /* Margin bottom by footer height */
    margin-bottom: 50px;
}
footer {
    /*Core essentials for footer placement */
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height and padding of the footer here */
    height: 80px;
    padding-top: 20px;
    /* Misc attributes for footer */
    background-color: #6170b2;
    border-top: solid thin black;
}
header {
    /*Core essentials for fixed header placement*/
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #Ffefbe;
    z-index: 999;
    border-bottom: solid thin black;
}

header .banner {
    text-align: center;
    width: 50%;
    margin: auto;
    padding-bottom: 25px;
}

.navbar-default {
    background-color: #6170b2;
    border-bottom: solid thin black;
}
