main {
    width: 70%;
    margin: auto;
    padding-bottom: 50px;
}

main h2 {
    text-align: center;
    padding-bottom: 20px;
}

div.itemcard {
    width: 80%;
    overflow: auto;
    margin: auto;
    margin-right: 20px;
    border: solid thin black;
}

div.imagetext {
    text-align: center;
    padding: 20px;
    background-color: white;
}

.col-sm-3 {
    padding-top: 20px;
}

.forum-feature {
    margin: auto;
    margin-top: 20px;
    background-color: white;
    border: solid thin black;
    border-radius: 3px;
    width: 100%;
}

.featurecontent {
    padding: 10px;
}

.floatedimg {
    float: left;
}

.featurecontent {
    overflow: auto;
}

header {
    /*Core essentials for fixed header placement*/
    width: 100%;
    background-color: #Ffefbe;
    background-image: url("../images/vancity.jpg");
    border-bottom: solid thin black;
    color: white;
    padding-top: 20px;
}

header .banner {
    text-align: center;
    width: 50%;
    margin: auto;
    padding-bottom: 25px;
}

.itemcard {
    border-radius: 3px;
}

.featureditems {
    border-top: thin solid rgba(0, 0, 0, 0.3);
}
