.storebanner {
    text-align: center;
    background-color: #000080;
    padding-top: 40px;
    padding-bottom: 20px;
    border-bottom: solid thin black;
    color: white;
}
.storenav {
    width: 100%;
    margin:auto;
    background-color: white;
    border-bottom: solid thin black;
}

.filterlist {
    padding: 5%;
    background-color: white;
    margin-right: 10%;
    border-radius: 3px;
    border: solid thin black;
    margin-top: 4%;
}

.filterlist ul {
    list-style-type: none;
    margin-left: -10%;
}

li {
    margin-top: 3%;
    margin-bottom: 3%;
}

.storecontent {
    border-left: solid thin black;
    padding-left: 5%;
}

.items .col-sm-3 {
    margin-top: 2%;
}

.productcard {
    background-color: white;
}

.items img {
    width: 100%;
}

.itemdesc {
    background-color: white;
    border: solid thin grey;
}

.pagelist {
    margin-top: 5%;
    text-align: center;
}

.pagelist li{
    display: inline;
    margin:auto;
    padding:2%;
}
