
.storebanner {
    text-align: center;
    background-color: #000080;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: solid thin black;
    color: white;
/* Applies all of these effects to the store banner on the top */
}

.storenav {
    width: 100%;
    margin:auto;
    background-color: white;
    border-bottom: solid thin black;
/* Storenav bar on top left width set to 100%/ background color to white */
}


li.navdrop {
    display: inline-block;
/* navbar features */
}

.filterlist {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
/* Effects the "filter" text */
}

.filterlist a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-bottom: solid thin black;
/* Effects the filterlist text */
}

.filterlist a:hover {background-color: #f1f1f1}
/* Color of when you hover on filter text */
.show {display:block;}

.productcard {
    width:60%;
    margin: auto;
    background-color: white;
/* Width of 60% and background color of white */
}
.storebanner {
    text-align: center;
    background-color: #000080;
    padding-top: 40px;
    padding-bottom: 20px;
    border-bottom: solid thin black;
    color: white;
/* Effects the store banner on the top of the page */
}
.storenav {
    width: 100%;
    margin:auto;
    background-color: white;
    border-bottom: solid thin black;
/* Width of 100% and background color of white */
}

.filterlist {
    padding: 5%;
    background-color: white;
    margin-right: 10%;
    border-radius: 3px;
    border: solid thin black;
    margin-top: 4%;
/* Effects the filterlist on the left hand side */
}

.filterlist ul {
    list-style-type: none;
    margin-left: -10%;
/* Effects the filterlist on the left hand side */
}

li {
    margin-top: 3%;
    margin-bottom: 3%;
/* Effects the filterlist when it drops down */
}


.items .col-sm-3 {
    margin-top: 2%;
}

.productcard {
    background-color: white;
}

.items img {
    width: 100%;
}

.itemdesc {
    background-color: white;
    border: solid thin grey;
}

.pagelist {
    margin-top: 5%;
    text-align: center;
/* Centers the text of the pagelist at the bottom of the page */
}

.pagelist li{
    display: inline;
    margin:auto;
    padding:2%;
/* Effects the pagelist at the very bottom of the page */
}

.storecontent {
    padding-bottom: 10%;
/* Gives the main content padding bottom 10% */
}
